<!-- Snow Day API - Homepage Maintenance Template
     (c) 2019-2020  o355
     This code is licensed under the MIT License. Please see LICENSE for more information. -->

<link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/roboto.css" integrity="sha384-zHHjtOtvXnoxT/mhlDbakQnEi8vnKeYgSzsGKfxuYBUv08mMelT1u4P2JRRk/SEV" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<style>
  body {
    font-family: Roboto
  }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<body>
  <div class="container">
    <div class="row">
      <div class="col" style="padding: 2em">
        <p class="lead">Welcome to the Snow Day API - Version {{ apiver }}</p>
        <hr>
        <p>This is the Snow Day API, the API powering the Snow Day SMS Service.</p>
        <p>At this time, the Snow Day API is temporarily closed due to server maintenance. Please see the status page link below for further details.</p>
        <br><br>
        <p>If you'd like to view the documentation for the API, please click <a href="{{ docs_url }}">here</a>.<br>
        If you'd like to view the status page for the API, please click <a href="{{ status_url }}" target="_blank">here</a>.<br>
        If you'd like to view the source code for the API, please click <a href="{{ source_url }}" target="_blank">here</a>.</p>
      </div>
    </div>
  </div>
</body>