<!-- Snow Day API - Homepage Closed Template
     (c) 2019 - 2020  o355
     This code is licensed under the MIT License. Please see LICENSE for more information. -->
<link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/roboto.css" integrity="sha384-zHHjtOtvXnoxT/mhlDbakQnEi8vnKeYgSzsGKfxuYBUv08mMelT1u4P2JRRk/SEV" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<style>
  body {
    font-family: Roboto
  }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<body>
  <div class="container">
    <div class="row">
      <div class="col" style="padding: 2em">
        <p class="lead">Welcome to the Snow Day API - {{ apiver }}</p>
        <hr>
        <p>This is the Snow Day API, the API powering the Snow Day SMS Service.</p>
        <p>At this time, the Snow Day API is closed down for the season. It will resume operations on October 1, 2019</p>
        <p>Thank you for your interest in the Snow Day API.</p>
      </div>
    </div>
  </div>
</body>